
@model  FilterItemsVM;
<style>
	label::before{
		display:none !important;
	}

	label::after {
		display: none !important;
	}

		.price-input{
	  width: 100%;
	  display: flex;
	  margin: 30px 0 35px;
	}
	.price-input .field{
	  display: flex;
	  width: 100%;
	  height: 45px;
	  align-items: center;
	}
	.field input{
	  width: 100%;
	  height: 100%;
	  outline: none;
	  font-size: 19px;
	  margin-left: 12px;
	  border-radius: 5px;
	  text-align: center;
	  border: 1px solid #999;
	  -moz-appearance: textfield;
	}
	input[type="number"]::-webkit-outer-spin-button,
	input[type="number"]::-webkit-inner-spin-button {
	  -webkit-appearance: none;
	}
	.price-input .separator{
	  width: 130px;
	  display: flex;
	  font-size: 19px;
	  align-items: center;
	  justify-content: center;
	}
	.slider{
	  height: 5px;
	  position: relative;
	  background: #ddd;
	  border-radius: 5px;
	}
	.slider .progress{
	  height: 100%;
	  left: 25%;
	  right: 25%;
	  position: absolute;
	  border-radius: 5px;
	  background: #17A2B8;
	}
	.range-input{
	  position: relative;
	}
	.range-input input{
	  position: absolute;
	  width: 100%;
	  height: 5px;
	  top: -5px;
	  background: none;
	  pointer-events: none;
	  -webkit-appearance: none;
	  -moz-appearance: none;
	}
	input[type="range"]::-webkit-slider-thumb{
	  height: 17px;
	  width: 17px;
	  border-radius: 50%;
	  background: #17A2B8;
	  pointer-events: auto;
	  -webkit-appearance: none;
	  box-shadow: 0 0 6px rgba(0,0,0,0.05);
	}
	input[type="range"]::-moz-range-thumb{
	  height: 17px;
	  width: 17px;
	  border: none;
	  border-radius: 50%;
	  background: #17A2B8;
	  pointer-events: auto;
	  -moz-appearance: none;
	  box-shadow: 0 0 6px rgba(0,0,0,0.05);
	}
</style>
<aside class="col-lg-3 sidebar sidebar-fixed sidebar-toggle-remain shop-sidebar sticky-sidebar-wrapper">
	<div class="sidebar-overlay"></div>
	<a class="sidebar-close" href="#"><i class="d-icon-times"></i></a>
	<div class="sidebar-content">
		<div class="sticky-sidebar" data-sticky-options="{'top': 10}">
			<div class="filter-actions mb-4">
				<a href="#"
				   class="sidebar-toggle-btn toggle-remain btn btn-outline btn-primary btn-icon-right btn-rounded">
					Filter<i class="d-icon-arrow-left"></i>
				</a>
				<a href="#" class="filter-clean">Clean All</a>
			</div>
			<form method="post" asp-action="FilterProduct" asp-controller="Product" class="filterProds">
				<div class="widget widget-collapsible">
				<h3 class="widget-title">All Categories</h3>
				<ul class="widget-body filter-items search-ul">
					@foreach (var cat in Model.Categories.Where(c=>c.ParentId is null))
					{
					<li>
								<input type="radio" style="appearance:radio" class="filt" name="CategoryId" id="@cat.Name"  value="@cat.Id"> <label style="cursor:pointer" for="@cat.Name">@cat.Name</label>
						<ul style="display: block">
							@foreach (var child in cat.Children)
								{
									<li>
											<input type="radio" class="filt" style="appearance:radio" name="CategoryId" id="@child.Name" value="@child.Id"> <label style="cursor:pointer" for="@child.Name">@child.Name </label>
									</li>
								}
						</ul>
					</li>
						
					}
				</ul>
			</div>
			<div class="widget widget-collapsible">
				<h3 class="widget-title">Filter by Price</h3>
				<div class="widget-body mt-3">
						<div class="price-input">
							<div class="field">
								<span>Min</span>
								<input type="number" class="input-min filt" name="MinPrice" value="0">
							</div>
							<div class="separator">-</div>
							<div class="field">
								<span>Max</span>
								<input type="number" class="input-max filt" name="MaxPrice" value="@Model.MaxPrice">
							</div>
						</div>
						<div class="slider">
							<div class="progress"></div>
						</div>
						<div class="range-input">
							<input type="range" class="range-min filt" min="0" name="MinPrice" max="@Model.MaxPrice" value="0" step="1">
							<input type="range" class="range-max filt" min="0" name="MaxPrice" max="@Model.MaxPrice" value="@Model.MaxPrice" step="1">
						</div>
					<!-- End Filter Price Form -->
				</div>
			</div>
			<div class="widget widget-collapsible">
				<h3 class="widget-title">Color</h3>
				<ul class="widget-body filter-items">
					@foreach (var color in Model.Colors)
					{
						<li>
								<input class="filt" style="appearance:checkbox" type="checkbox" id="@color.Name" name="ColorIds" value="@color.Id" multiple> <label for="@color.Name" style="cursor:pointer">@color.Name</label>
						</li>
					}
				</ul>
			</div>
		</form>
		</div>
	</div>
</aside>
<script>
	const rangeInput = document.querySelectorAll(".range-input input"),
		priceInput = document.querySelectorAll(".price-input input"),
		range = document.querySelector(".slider .progress");
	let priceGap = 1;

	priceInput.forEach(input => {
		input.addEventListener("input", e => {
			let minPrice = parseInt(priceInput[0].value),
				maxPrice = parseInt(priceInput[1].value);

			if ((maxPrice - minPrice >= priceGap) && maxPrice <= rangeInput[1].max) {
				if (e.target.className === "input-min") {
					rangeInput[0].value = minPrice;
					range.style.left = ((minPrice / rangeInput[0].max) * 100) + "%";
				} else {
					rangeInput[1].value = maxPrice;
					range.style.right = 100 - (maxPrice / rangeInput[1].max) * 100 + "%";
				}
			}
		});
	});

	rangeInput.forEach(input => {
		input.addEventListener("input", e => {
			let minVal = parseInt(rangeInput[0].value),
				maxVal = parseInt(rangeInput[1].value);

			if ((maxVal - minVal) < priceGap) {
				if (e.target.className === "range-min") {
					rangeInput[0].value = maxVal - priceGap
				} else {
					rangeInput[1].value = minVal + priceGap;
				}
			} else {
				priceInput[0].value = minVal;
				priceInput[1].value = maxVal;
				range.style.left = ((minVal / rangeInput[0].max) * 100) + "%";
				range.style.right = 100 - (maxVal / rangeInput[1].max) * 100 + "%";
			}
		});
	});
</script>